<!DOCTYPE html>
<html>
<head>
    <title>Task</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>State</th>
        <th>User assigned</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.state}"></td>
        <td th:text="${task.user.userLogin}"></td>
    </tr>
    </tbody>
</table>


<form action="#" th:action="@{/assignuser/}" th:object="${task}" method="post">
    <label>New user name</label>
    <!-input type="text" th:field="*{user.userLogin}" /-->

    <select class="form-control" id="userLogin" name="userLogin" th:field="*{user.userLogin}">
        <option value="">Select user</option>
        <option th:each="user : ${users}"
                th:value="${user.userLogin}"
                th:text="${user.userLogin}+' : '+${user.userLogin}"
                th:field="*{user.userLogin}"></option>
    </select>

    <input type="hidden" th:field="*{id}" />
    <input type="submit" value="Submit" />
</form>

</body>
</html>