<!DOCTYPE html>
<html>
<head>
    <title>Tasks Management System</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <div sec:authorize="isAuthenticated()">
        Logged user name: <span sec:authentication="name">Best employee!</span>
        <br>
        Use roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_LEADER, ROLE_ADMIN]</span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

</head>
<body>


<div th:switch="${tasks}" sec:authorize="hasRole('USER')">
    <h2 th:case="null">No tasks assigned!</h2>
    <div th:case="*">
        <h1><span th:text="${appName}"></span></h1>
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>Start</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.state}"></td>
                <td><a th:href="@{/start/task/{id}(id=${task.id})}">Start</a></td>
                <td><a th:href="@{/done/task/{id}(id=${task.id})}">Done</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:switch="${alltasks}" sec:authorize="hasRole('LEADER')">
    <h2 th:case="null">No tasks assigned!</h2>
    <div th:case="*">
        <h1><span th:text="${appName}"></span></h1>
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>User assigned</th>
                <th>Assign</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${alltasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.state}"></td>
                <td th:text="${task.user != null} ? ${task.user.userLogin}"></td>
                <td><a th:href="@{/assignuserform/{id}(id=${task.id})}">Assign</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:switch="${alltasks}" sec:authorize="hasRole('ADMIN')">
    <h2 th:case="null">No tasks assigned!</h2>
    <div th:case="*">
        <h1><span th:text="${appName}"></span></h1>
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>User assigned</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${alltasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.state}"></td>
                <td th:text="${task.user != null} ? ${task.user.userLogin}"></td>
                <td><a th:href="@{/edit/task/{id}(id=${task.id})}">Edit</a></td>
                <td><a th:href="@{/delete/task/{id}(id=${task.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addtaskform">Add new task</a></p>
</div>

</body>
</html>
