<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks Management System</title>
    <!-- Bootstrap core CSS -->
    <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css} "/>
    <link th:href="@{/styles/starter.css}" rel="stylesheet" />

</head>
<body>

<h3><span th:text="${appName}"></span></h3>

<div th:switch="${tasks}" sec:authorize="hasRole('USER')" class="container">
    <h3 th:case="null">No tasks assigned!</h3>
    <div th:case="*">
        <table class="table table-striped">
            <caption>Tasks</caption>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>Start</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.state}"></td>
                <td><a th:href="@{/start/task/{id}(id=${task.id})}">Start</a></td>
                <td><a th:href="@{/done/task/{id}(id=${task.id})}">Done</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:switch="${alltasks}" sec:authorize="hasRole('LEADER')"  class="container">
    <h3 th:case="null">No tasks assigned!</h3>
    <div th:case="*">
        <table class="table table-striped">
            <caption>Tasks</caption>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>User assigned</th>
                <th>Duration (H:mm:ss)</th>
                <th>Assign</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${alltasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.state}"></td>
                <td th:text="${task.user != null} ? ${task.user.userLogin}"></td>
                <td th:text="${task.taskDuration}"></td>
                <td><a th:href="@{/assignuserform/{id}(id=${task.id})}">Assign</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:switch="${alltasks}" sec:authorize="hasRole('ADMIN')"  class="container">
    <h3 th:case="null">No tasks assigned!</h3>
    <div th:case="*">
        <table class="table table-striped">
            <caption>Tasks</caption>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>User assigned</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${alltasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.state}"></td>
                <td th:text="${task.user != null} ? ${task.user.userLogin}"></td>
                <td><a th:href="@{/delete/task/{id}(id=${task.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/addtaskform}">Add new task</a></p>
</div>

<div class="container">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p><a th:href="@{/index}">Go to main page</a></p>
        </div>

        <div sec:authorize="isAuthenticated()">
            Logged user name: <span sec:authentication="name">Best employee!</span>
            <br>
            Use roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_LEADER, ROLE_ADMIN]</span>
            <br><br>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
            <br>
        </div>
    </footer>
</div>

<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
